.navbar{padding: 0.5rem 1rem !important;}
ul{list-style: none;}
section{margin: 23px auto;}
.dnone{display: none;}
form{margin:0px;}
[data-title] {
    position: relative;
    cursor: help;
}

[data-title]:hover::before {
  content: attr(data-title);
  position: absolute;
  bottom: -26px;
  display: inline-block;
  padding: 3px 6px;
  border-radius: 2px;
  background: #000;
  color: #fff;
  font-size: 12px;
  font-family: sans-serif;
  white-space: nowrap;
}
[data-title]:hover::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 8px;
  display: inline-block;
  color: #fff;
  border: 8px solid transparent;	
  border-bottom: 8px solid #000;
}
.ticketstable>table{
	width: 100%;
	text-align: center;
	border-collapse: collapse;
	margin-bottom: 1%;
}
.ticketstable>table>thead>tr>th {
  border: 1px solid black;
}
.ticketstable>table>tbody>tr>td {
    height: 40px;
    border: 1px solid black;
}
.ticketstable>table>tr{
	height: 20px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}